In [1]:
# Importing Important Libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)
import scipy.stats as stats


# Data Dictionary :
------------------

1) index		-	Index No/Row No

2) year_of_poll		-	Year for the conducted poll

3) own_self_emp		-	Business Status( Unemployed - 0 , Business Owned - 1 , Self Employed - 2)

4) veteran benefits	-	Veteran Benefits (0 - No Benefits, 1 - Cadre1 Benefits, 2- Cadre2 Benefits)	

5) currently_enrolled	-	Current enrolled in college/school.

6) race			-	Race of people in the poll

7) father_country	-	Birth country of father 

8) educ			-	Specific education status 

9) house_stat		-	Demography in person's house 

10) major_ind_code	-	Different Industries where a person is working 

11) labour_union	-	Member of Labour Union 

12) self_country	-	Country of oneself

13) major_occ_code	-	Occupation a person performs in specific industry 

14) age			-	age of a person

15) mother_country	-	Birth country of mother 

16) house_summary	-	detailed household summary

17) gender		-	Gender of a person

18) hisp_origin		-	Origins of people in South America

19) gains		-	capital gains on investments

20) dividends		-	dividends earned from stocks 

21) marriage_status	-	Current marital status

22) losses		-   	capital losses on investments

23) employer_of		-	Number of people employed under an employer

24) house_1yr_ago	-	Living in house for under 1 yr

25) income_filled	-	Income filled for tax

26) weeks_worked	-	weeks worked in year

27) under18		-	family members under 18

28) hourly_wage		-	wage earned hourly

29) unemp_reason	- 	reason for unemployment 

30) citizenship		-	Citizenship of a person ( ' Foreign born- Not a citizen of U S ':'FB',
				' Native- Born in Puerto Rico or U S Outlying':'NB_PR',' Native- Born in the United States':'NB_US',
				' Foreign born- U S citizen by naturalization':'FB_US',' Native- Born abroad of American Parent(s)':'NB_US_Parents') 

31) woker_type		-	Kind of worker 

32) fed_liability	-	Federal tax liability for people 

33) full_partime_job	-	type of full/part-time job

34) income		-	Less/More than 50k$ year

# Basic Data Reading and Eyeballing

In [2]:
# Reading the train and test data and concating them together
train=pd.read_csv('train (2).csv')
test=pd.read_csv('test (2).csv')
df=pd.concat([train,test],axis=0,ignore_index=True)

In [3]:
# First Five rows of the Data
df.head()

,ID,year_of_poll,own_self_emp,veteran benefits,currently_enrolled,race,father_country,educ,house_stat,major_ind_code,labour_union,self_country,major_occ_code,age,mother_country,house_summary,gender,hisp_origin,gains,dividends,marriage_status,losses,employer_of,house_1yr_ago,income_filled,weeks_worked,under18,hourly_wage,unemp_reason,citizenship,woker_type,fed_liability,full_partime_job,income
0,0,2004,0,2,High school,White,United-States,Associates degree-academic program,Householder,Business and repair services,no,United-States,Protective services,42.0,United-States,Householder,M,All_Other,0.0,0.0,Married_civilian_Sp_Pr,0.0,1,No,No,47,NaN,0.0,NaN,NB_US,Pvt,Joint_both_under65,Children/Armed_Forces,More than 50K $
1,1,2005,0,0,College/University,White,Japan,Children,Child <18 never marr not in subfamily,Not in universe or children,NaN,United-States,NaN,10.0,United-States,Child_U18_Unmarried,M,Mex_Amer,0.0,0.0,Unmarried,0.0,0,NaN,No,0,Both_Pr,0.0,NaN,NB_US,NaN,Nonfiler,Children/Armed_Forces,More than 50K $
2,2,2004,0,2,NaN,White,United-States,Some college but no degree,Secondary individual,Manufacturing-durable goods,NaN,United-States,Machine operators assmblrs & inspctrs,46.0,United-States,Non_Relative,M,All_Other,0.0,0.0,Divorced,0.0,6,No,Yes,47,NaN,0.0,NaN,NB_US,Pvt,Single,Children/Armed_Forces,More than 50K $
3,3,2004,0,2,College/University,Amer/Indian/Aleut/Eskimo,United-States,High school graduate,Householder,Wholesale trade,no,United-States,Handlers equip cleaners etc,35.0,United-States,Householder,M,All_Other,0.0,0.0,Married_civilian_Sp_Pr,0.0,2,Yes,NaN,47,NaN,0.0,NaN,NB_US,Pvt,Joint_both_under65,Children/Armed_Forces,More than 50K $
4,4,2004,0,2,NaN,White,United-States,High school graduate,Householder,Wholesale trade,no,United-States,Executive admin and managerial,61.0,United-States,Householder,F,All_Other,0.0,0.0,Divorced,0.0,3,Yes,NaN,47,NaN,0.0,NaN,NB_US,Pvt,Single,Children/Armed_Forces,More than 50K $

In [4]:
# Info of the Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147000 entries, 0 to 146999
Data columns (total 34 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID                  147000 non-null  int64
 1   year_of_poll        147000 non-null  int64
 2   own_self_emp        147000 non-null  int64
 3   veteran benefits    147000 non-null  int64
 4   currently_enrolled  102944 non-null  object
 5   race                147000 non-null  object
 6   father_country      147000 non-null  object
 7   educ                147000 non-null  object
 8   house_stat          146986 non-null  object
 9   major_ind_code      147000 non-null  object
 10  labour_union        97332 non-null   object
 11  self_country        147000 non-null  object
 12  major_occ_code      72877 non-null   object
 13  age                 146404 non-null  float64
 14  mother_country      147000 non-null  object
 15  house_summary       147000 non-null  object
 16  gender              147000 non-null  object
 17  hisp_origin         147000 non-null  object
 18  gains               147000 non-null  float64
 19  dividends           147000 non-null  float64
 20  marriage_status     147000 non-null  object
 21  losses              147000 non-null  float64
 22  employer_of         147000 non-null  int64
 23  house_1yr_ago       72280 non-null   object
 24  income_filled       101589 non-null  object
 25  weeks_worked        147000 non-null  int64
 26  under18             40644 non-null   object
 27  hourly_wage         147000 non-null  float64
 28  unemp_reason        4474 non-null    object
 29  citizenship         147000 non-null  object
 30  woker_type          73188 non-null   object
 31  fed_liability       147000 non-null  object
 32  full_partime_job    145040 non-null  object
 33  income              105000 non-null  object
dtypes: float64(5), int64(6), object(23)
memory usage: 38.1+ MB

In [5]:
# Checking for Missing values
df.isnull().sum()[df.isnull().sum()>0]
# Data Has Missing values

currently_enrolled     44056
house_stat                14
labour_union           49668
major_occ_code         74123
age                      596
house_1yr_ago          74720
income_filled          45411
under18               106356
unemp_reason          142526
woker_type             73812
full_partime_job        1960
income                 42000
dtype: int64

#### We would be doing Data Cleaning before procedding towards our Exploratory Data Analysis but first we would check for significant features before procedding

# Data Cleaning and Handling of Missing Values

In [6]:
# We see that there are only 14 values missing in the house_stat column we would fill this with the mode of the column
df.house_stat.fillna(df.house_stat.mode()[0],inplace=True)

In [7]:
df.isnull().sum()[df.isnull().sum()>0]
# House stat column is now filled

currently_enrolled     44056
labour_union           49668
major_occ_code         74123
age                      596
house_1yr_ago          74720
income_filled          45411
under18               106356
unemp_reason          142526
woker_type             73812
full_partime_job        1960
income                 42000
dtype: int64

In [8]:
df.loc[df.age.isnull()]['house_stat'].unique()
# We see that wherever the age is missing it is a record of a child
# So we will fill the missing values in the ge column with the median age of children

array([' Child <18 never marr not in subfamily',
       ' Child under 18 of RP of unrel subfamily',
       ' Grandchild <18 never marr child of subfamily RP',
       ' Other Rel <18 never marr child of subfamily RP',
       ' Grandchild <18 never marr not in subfamily',
       ' Other Rel <18 never marr not in subfamily',
       ' Secondary individual'], dtype=object)

In [9]:
df.educ.unique()

array([' Associates degree-academic program', ' Children',
       ' Some college but no degree', ' High school graduate',
       ' 10th grade', ' Prof school degree (MD DDS DVM LLB JD)',
       ' Bachelors degree(BA AB BS)', ' 7th and 8th grade',
       ' 5th or 6th grade', ' 9th grade', ' 11th grade',
       ' Masters degree(MA MS MEng MEd MSW MBA)',
       ' Associates degree-occup /vocational',
       ' 1st 2nd 3rd or 4th grade', ' Less than 1st grade',
       ' 12th grade no diploma', ' Doctorate degree(PhD EdD)'],
      dtype=object)

In [10]:
med=df.loc[df.educ==' Children','age'].median() # Median age for all children

In [11]:
# Filling age with the median value of the children
df.age.fillna(med,inplace=True)

In [12]:
df.isnull().sum()[df.isnull().sum()>0]
# Age column is now filled

currently_enrolled     44056
labour_union           49668
major_occ_code         74123
house_1yr_ago          74720
income_filled          45411
under18               106356
unemp_reason          142526
woker_type             73812
full_partime_job        1960
income                 42000
dtype: int64

In [13]:
# Now we will fill the full_partime_job
# First we will the missing values in full_partime_job where age<18 by 'Children/Armed Forces'
df.loc[(df.age<18) & (df.full_partime_job.isnull()),'full_partime_job']='Children/Armed_Forces'

In [14]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()
# We see that the number of missing values on full_partime_job has reduced
# Now we will fill the rest of the missing values in full_partime_job

full_partime_job        1454
income                 42000
currently_enrolled     44056
income_filled          45411
labour_union           49668
woker_type             73812
major_occ_code         74123
house_1yr_ago          74720
under18               106356
unemp_reason          142526
dtype: int64

In [15]:
df.full_partime_job.unique()

array(['Children/Armed_Forces', ' Full-time schedules',
       ' Not in labor force', ' PT for econ reasons usually PT',
       ' PT for non-econ reasons usually FT', ' Unemployed full-time',
       nan, ' Unemployed part- time', ' PT for econ reasons usually FT'],
      dtype=object)

In [16]:
df.loc[(df.major_occ_code==' Protective services') & (df.full_partime_job.isnull()),'full_partime_job']='Children/Armed_Forces'

In [17]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

full_partime_job        1433
income                 42000
currently_enrolled     44056
income_filled          45411
labour_union           49668
woker_type             73812
major_occ_code         74123
house_1yr_ago          74720
under18               106356
unemp_reason          142526
dtype: int64

In [18]:
df.loc[(df.age<=18) & (df.woker_type==' Never worked') & (df.full_partime_job.isnull()),'full_partime_job']='Children/Armed_Forces'

In [19]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

full_partime_job        1431
income                 42000
currently_enrolled     44056
income_filled          45411
labour_union           49668
woker_type             73812
major_occ_code         74123
house_1yr_ago          74720
under18               106356
unemp_reason          142526
dtype: int64

In [20]:
df.loc[(df.own_self_emp==0) & (df.full_partime_job.isnull()),'full_partime_job']=' Unemployed full-time'

In [21]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

full_partime_job         168
income                 42000
currently_enrolled     44056
income_filled          45411
labour_union           49668
woker_type             73812
major_occ_code         74123
house_1yr_ago          74720
under18               106356
unemp_reason          142526
dtype: int64

In [22]:
df.loc[(df.own_self_emp==2) & (df['veteran benefits']==2) & (df.full_partime_job.isnull()),'full_partime_job']='Children/Armed_Forces'

In [23]:
df.loc[(df.own_self_emp==2) & (df['veteran benefits']==1) & (df.full_partime_job.isnull()),'full_partime_job']=' Full-time schedules'

In [24]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

full_partime_job          21
income                 42000
currently_enrolled     44056
income_filled          45411
labour_union           49668
woker_type             73812
major_occ_code         74123
house_1yr_ago          74720
under18               106356
unemp_reason          142526
dtype: int64

In [25]:
df.loc[(df.own_self_emp==1) & (df['veteran benefits']==2) & (df.full_partime_job.isnull()),'full_partime_job']='Children/Armed_Forces'

In [26]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()
# full_partime_job is now filled

income                 42000
currently_enrolled     44056
income_filled          45411
labour_union           49668
woker_type             73812
major_occ_code         74123
house_1yr_ago          74720
under18               106356
unemp_reason          142526
dtype: int64

In [27]:
# to fill the missin g vaues in under18 we will create a new category 'above 18' which would tell that the correpondent is above 18
df.loc[(df.age>=18) & (df.under18.isnull()),'under18']='Above 18'

In [28]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

under18                  383
income                 42000
currently_enrolled     44056
income_filled          45411
labour_union           49668
woker_type             73812
major_occ_code         74123
house_1yr_ago          74720
unemp_reason          142526
dtype: int64

In [29]:
df.under18.fillna('Unknown',inplace=True)

In [30]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()*100/len(df)

income                28.571429
currently_enrolled    29.970068
income_filled         30.891837
labour_union          33.787755
woker_type            50.212245
major_occ_code        50.423810
house_1yr_ago         50.829932
unemp_reason          96.956463
dtype: float64

In [31]:
df.drop(columns='unemp_reason',inplace=True)

In [32]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

income                42000
currently_enrolled    44056
income_filled         45411
labour_union          49668
woker_type            73812
major_occ_code        74123
house_1yr_ago         74720
dtype: int64

In [33]:
df.loc[df.major_occ_code.isnull()]['major_ind_code'].value_counts()

 Not in universe or children    74123
Name: major_ind_code, dtype: int64

In [34]:
# We see that wherever the major_occ_code is null the major_ind code says not in universe or children
# So we woould replace the null values in the major occ code by not in universe or children
df.major_occ_code.fillna(' Not in universe or children',inplace=True)

In [35]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

income                42000
currently_enrolled    44056
income_filled         45411
labour_union          49668
woker_type            73812
house_1yr_ago         74720
dtype: int64

In [36]:
# We are not able to find any pattern regarding the currnetly enrolled column
# So we would fill the missing values with 'unknown'
df.currently_enrolled.fillna('Unknown',inplace=True)

In [37]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

income           42000
income_filled    45411
labour_union     49668
woker_type       73812
house_1yr_ago    74720
dtype: int64

In [38]:
df.loc[df.woker_type.isnull()]['major_ind_code'].value_counts()

 Not in universe or children    73812
Name: major_ind_code, dtype: int64

In [39]:
# We see that whereever the woker type is null the industry code is not in universe or children
# So we will fill the missing values with this value
df.woker_type.fillna('Deceased or below 18',inplace=True)

In [40]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

income           42000
income_filled    45411
labour_union     49668
house_1yr_ago    74720
dtype: int64

In [41]:
df.loc[(df.age<18) & (df.income_filled.isnull()),'income_filled']=' No'

In [42]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

income_filled    33323
income           42000
labour_union     49668
house_1yr_ago    74720
dtype: int64

In [43]:
df.loc[(df.income_filled.isnull()) & (df.major_ind_code==' Not in universe or children'),'income_filled']=' No'

In [44]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

income_filled    22353
income           42000
labour_union     49668
house_1yr_ago    74720
dtype: int64

In [45]:
df.loc[(df.own_self_emp==0) & (df.income_filled.isnull()),'income_filled']=' No'

In [46]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

income_filled     4003
income           42000
labour_union     49668
house_1yr_ago    74720
dtype: int64

In [47]:
df.income_filled.fillna(' Yes',inplace=True)

In [48]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()

income           42000
labour_union     49668
house_1yr_ago    74720
dtype: int64

In [49]:
# We will fill the rest of the missing values with unknown
df.labour_union.fillna('Unknown',inplace=True)
df.house_1yr_ago.fillna('Unknown',inplace=True)

In [50]:
df.isnull().sum()[df.isnull().sum()>0].sort_values()
# Missing values are now filled

income    42000
dtype: int64

In [51]:
df.loc[df.age<18,'full_partime_job']='Children'

In [52]:
df.full_partime_job.replace(to_replace='Children/Armed_Forces',value='Armed_Forces',inplace=True)

# Feature Selection

In [53]:
# Before procedding to our feature selection we would drop redundant columns
df.drop(columns='ID',inplace=True)

In [54]:
# We would first check the categorical columns
df.columns

Index(['year_of_poll', 'own_self_emp', 'veteran benefits',
       'currently_enrolled', 'race', 'father_country', 'educ', 'house_stat',
       'major_ind_code', 'labour_union', 'self_country', 'major_occ_code',
       'age', 'mother_country', 'house_summary', 'gender', 'hisp_origin',
       'gains', 'dividends', 'marriage_status', 'losses', 'employer_of',
       'house_1yr_ago', 'income_filled', 'weeks_worked', 'under18',
       'hourly_wage', 'citizenship', 'woker_type', 'fed_liability',
       'full_partime_job', 'income'],
      dtype='object')

In [55]:
cats=['year_of_poll', 'own_self_emp', 'veteran benefits',
       'currently_enrolled', 'race', 'father_country', 'educ', 'house_stat',
       'major_ind_code', 'labour_union', 'self_country', 'major_occ_code',
       'mother_country', 'house_summary', 'gender', 'hisp_origin',
       'dividends', 'marriage_status','house_1yr_ago', 'income_filled', 'under18', 'citizenship', 'woker_type', 'fed_liability',
       'full_partime_job'] # Categorical Features

In [56]:
# For the following statsistical test our significance level would be 0.05
stat_df=pd.DataFrame()
stat_df['features']=cats
lst=[]

for i in cats:
    # Null Hypothesis: i has no impact on the target variable
    # Alternate Hypothesis: i has an impact on the target variable
    tbl=pd.crosstab(df[i],df.income)
    statistic,pvalue,dof,expected=stats.chi2_contingency(tbl)
    lst.append(pvalue)

stat_df['Pvalue']=lst

In [57]:
stat_df

              features         Pvalue
0         year_of_poll   5.113161e-01
1         own_self_emp   1.412548e-16
2     veteran benefits   1.325400e-46
3   currently_enrolled   8.358494e-02
4                 race   4.654411e-11
5       father_country   1.206961e-05
6                 educ   0.000000e+00
7           house_stat  4.210376e-115
8       major_ind_code  7.114120e-174
9         labour_union   2.231193e-01
10        self_country   1.024270e-03
11      major_occ_code   0.000000e+00
12      mother_country   2.150805e-07
13       house_summary  5.606992e-118
14              gender   9.120930e-65
15         hisp_origin   3.194589e-11
16           dividends   2.589768e-76
17     marriage_status   4.076987e-90
18       house_1yr_ago   7.240513e-03
19       income_filled   8.633083e-01
20             under18   1.783914e-55
21         citizenship   2.048426e-07
22          woker_type  1.451061e-155
23       fed_liability  1.650923e-123
24    full_partime_job  9.568396e-105

In [58]:
stat_df[stat_df.Pvalue>0.05]

              features    Pvalue
0         year_of_poll  0.511316
3   currently_enrolled  0.083585
9         labour_union  0.223119
19       income_filled  0.863308

In [59]:
# According to the pvalues we would have to drop the following features
# year of poll,currently_enrolled,labour_union,income_filled
# dropping these columns
df.drop(columns=['year_of_poll','currently_enrolled','labour_union','income_filled'],inplace=True)

# Categorical Treatment

In [60]:
# Mapping the target variable
df.income=df.income.map({'More than 50K $':0,'Less than 50K $':1})

In [61]:
# Binning the father_country column
europe=[' Germany',' Italy',' Poland',' Hungary',' England',' Ireland',' Portugal',' Scotland',' Yugoslavia',' Greece',
       ' France',' Holand-Netherlands']

asia=[' Japan',' Philippines',' China',' Vietnam',' Cambodia',' South Korea',' Laos',' India',' Iran',' Taiwan',' Thailand',
     ' Hong Kong']

north_a=[' United-States',' Mexico',' Canada',' Guatemala',' Cuba',' Nicaragua',' El-Salvador',' Honduras',' Panama']

south_a=[' Peru', ' Columbia',' Ecuador']

others=[' Puerto-Rico',' Haiti',' Dominican-Republic',' ?',' Jamaica',' Outlying-U S (Guam USVI etc)',' Trinadad&Tobago']

In [62]:
sorted(df.mother_country.unique())==sorted(df.father_country.unique())

True

In [63]:
sorted(df.self_country.unique())==sorted(df.father_country.unique())

True

In [64]:
def country_bin(x):
    if x in europe:
        return 'Europe'
    elif x in asia:
        return 'Asia'
    elif x in north_a:
        return 'North America'
    elif x in south_a:
        return 'South America'
    else:
        return 'Others'

In [65]:
df.father_country=df.father_country.apply(country_bin)

In [66]:
# Binning the mother country column
df.mother_country=df.mother_country.apply(country_bin)

In [67]:
# Binning the self country column
df.self_country=df.self_country.apply(country_bin)

In [68]:
# Seperating deceased or below 18 in worker type
df.loc[(df.age<18) & (df.woker_type=='Deceased or below 18'),'woker_type']='Below_18'
df.loc[(df.age>18) & (df.woker_type=='Deceased or below 18'),'woker_type']='Deceased'

In [69]:
df.educ.unique()

array([' Associates degree-academic program', ' Children',
       ' Some college but no degree', ' High school graduate',
       ' 10th grade', ' Prof school degree (MD DDS DVM LLB JD)',
       ' Bachelors degree(BA AB BS)', ' 7th and 8th grade',
       ' 5th or 6th grade', ' 9th grade', ' 11th grade',
       ' Masters degree(MA MS MEng MEd MSW MBA)',
       ' Associates degree-occup /vocational',
       ' 1st 2nd 3rd or 4th grade', ' Less than 1st grade',
       ' 12th grade no diploma', ' Doctorate degree(PhD EdD)'],
      dtype=object)

In [70]:
# Binning the education column
below_high_school=[' Children',' 10th grade',' 7th and 8th grade',' 5th or 6th grade',' 9th grade',' 1st 2nd 3rd or 4th grade',
                  ' Less than 1st grade']

high_school_no_degree=[' 11th grade',' 12th grade no diploma']

college=[' Associates degree-academic program',' Some college but no degree',' Bachelors degree(BA AB BS)',
        ' Associates degree-occup /vocational']

high_school=[' High school graduate']

higher_education=[' Prof school degree (MD DDS DVM LLB JD)',' Masters degree(MA MS MEng MEd MSW MBA)',
                  ' Doctorate degree(PhD EdD)']

In [71]:
def education_bin(x):
    if x in below_high_school:
        return 'Below High School'
    elif x in high_school_no_degree:
        return 'High School But no degree'
    elif x in college:
        return 'College level'
    elif x in high_school:
        return 'High School'
    elif x in higher_education:
        return 'Higher Education'

In [72]:
df.educ=df.educ.apply(education_bin)

In [73]:
df.educ.unique()

array(['College level', 'Below High School', 'High School',
       'Higher Education', 'High School But no degree'], dtype=object)

In [74]:
df.house_stat.value_counts()/len(df)

 Householder                                        0.267116
 Child <18 never marr not in subfamily              0.251639
 Spouse of householder                              0.208925
 Nonfamily householder                              0.111619
 Child 18+ never marr Not in a subfamily            0.060694
 Secondary individual                               0.030497
 Other Rel 18+ ever marr not in subfamily           0.009680
 Grandchild <18 never marr child of subfamily RP    0.009497
 Other Rel 18+ never marr not in subfamily          0.008687
 Child 18+ ever marr Not in a subfamily             0.005272
 Grandchild <18 never marr not in subfamily         0.005061
 Child under 18 of RP of unrel subfamily            0.003735
 RP of unrelated subfamily                          0.003510
 Other Rel 18+ ever marr RP of subfamily            0.003449
 Child 18+ ever marr RP of subfamily                0.003313
 Other Rel <18 never marr child of subfamily RP     0.003299
 Other Rel 18+ spouse of subfamily RP               0.003061
 Other Rel <18 never marr not in subfamily          0.002986
 Child 18+ never marr RP of subfamily               0.002925
 Grandchild 18+ never marr not in subfamily         0.001837
 In group quarters                                  0.001020
 Child 18+ spouse of subfamily RP                   0.000592
 Other Rel 18+ never marr RP of subfamily           0.000449
 Child <18 never marr RP of subfamily               0.000408
 Spouse of RP of unrelated subfamily                0.000272
 Grandchild 18+ ever marr not in subfamily          0.000170
 Child <18 ever marr not in subfamily               0.000150
 Grandchild 18+ ever marr RP of subfamily           0.000054
 Child <18 ever marr RP of subfamily                0.000034
 Grandchild 18+ spouse of subfamily RP              0.000027
 Other Rel <18 never married RP of subfamily        0.000020
Name: house_stat, dtype: float64

In [75]:
# frequency encoding house stat
df.house_stat=df.house_stat.map(df.house_stat.value_counts()/len(df))

In [76]:
df.major_ind_code.value_counts()/len(df)

 Not in universe or children            0.504238
 Retail trade                           0.085088
 Manufacturing-durable goods            0.045755
 Education                              0.041054
 Manufacturing-nondurable goods         0.034946
 Finance insurance and real estate      0.030422
 Construction                           0.030367
 Business and repair services           0.028327
 Medical except hospital                0.023830
 Public administration                  0.023020
 Other professional services            0.022537
 Transportation                         0.020946
 Hospital services                      0.020136
 Wholesale trade                        0.017980
 Agriculture                            0.015422
 Personal services except private HH    0.014537
 Social services                        0.012714
 Entertainment                          0.008082
 Communications                         0.006102
 Utilities and sanitary services        0.005830
 Private household services             0.004803
 Mining                                 0.002741
 Forestry and fisheries                 0.000918
 Armed Forces                           0.000204
Name: major_ind_code, dtype: float64

In [77]:
# Frequency encoding major ind_code and major occ_code
df.major_ind_code=df.major_ind_code.map(df.major_ind_code.value_counts()/len(df))
df.major_occ_code=df.major_occ_code.map(df.major_occ_code.value_counts()/len(df))

In [78]:
df.father_country=df.father_country.map(df.father_country.value_counts()/len(df))
df.mother_country=df.mother_country.map(df.mother_country.value_counts()/len(df))
df.self_country=df.self_country.map(df.self_country.value_counts()/len(df))

In [79]:
df

,own_self_emp,veteran benefits,race,father_country,educ,house_stat,major_ind_code,self_country,major_occ_code,age,mother_country,house_summary,gender,hisp_origin,gains,dividends,marriage_status,losses,employer_of,house_1yr_ago,weeks_worked,under18,hourly_wage,citizenship,woker_type,fed_liability,full_partime_job,income
0,0,2,White,0.870537,College level,0.267116,0.028327,0.930728,0.008265,42.0,0.876952,Householder,M,All_Other,0.0,0.0,Married_civilian_Sp_Pr,0.0,1,No,47,Above 18,0.0,NB_US,Pvt,Joint_both_under65,Armed_Forces,0.0
1,0,0,White,0.024782,Below High School,0.251639,0.504238,0.930728,0.504238,10.0,0.876952,Child_U18_Unmarried,M,Mex_Amer,0.0,0.0,Unmarried,0.0,0,Unknown,0,Both_Pr,0.0,NB_US,Below_18,Nonfiler,Children,0.0
2,0,2,White,0.870537,College level,0.030497,0.045755,0.930728,0.032558,46.0,0.876952,Non_Relative,M,All_Other,0.0,0.0,Divorced,0.0,6,No,47,Above 18,0.0,NB_US,Pvt,Single,Armed_Forces,0.0
3,0,2,Amer/Indian/Aleut/Eskimo,0.870537,High School,0.267116,0.017980,0.930728,0.020939,35.0,0.876952,Householder,M,All_Other,0.0,0.0,Married_civilian_Sp_Pr,0.0,2,Yes,47,Above 18,0.0,NB_US,Pvt,Joint_both_under65,Armed_Forces,0.0
4,0,2,White,0.870537,High School,0.267116,0.017980,0.930728,0.062939,61.0,0.876952,Householder,F,All_Other,0.0,0.0,Divorced,0.0,3,Yes,47,Above 18,0.0,NB_US,Pvt,Single,Armed_Forces,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146995,0,0,White,0.870537,Below High School,0.251639,0.504238,0.930728,0.504238,7.0,0.876952,Child_U18_Unmarried,F,Mex_Amer,0.0,0.0,Unmarried,0.0,0,Unknown,0,Both_Pr,0.0,NB_US,Below_18,Nonfiler,Children,NaN
146996,0,2,White,0.039231,College level,0.267116,0.045755,0.014537,0.053156,43.0,0.036966,Householder,M,All_Other,0.0,0.0,Married_civilian_Sp_Pr,0.0,3,Yes,47,Above 18,0.0,FB,Pvt,Joint_both_under65,Armed_Forces,NaN
146997,0,0,White,0.870537,Below High School,0.251639,0.504238,0.930728,0.504238,13.0,0.876952,Child_U18_Unmarried,M,All_Other,0.0,0.0,Unmarried,0.0,0,Unknown,0,Only_Mom,0.0,NB_US,Below_18,Nonfiler,Children,NaN
146998,0,2,White,0.870537,College level,0.111619,0.020946,0.930728,0.020272,34.0,0.876952,Householder,F,All_Other,0.0,0.0,Married_Sp_Ab,0.0,3,Yes,47,Above 18,0.0,NB_US,Pvt,Single,Armed_Forces,NaN
146999,0,2,White,0.870537,College level,0.111619,0.045755,0.930728,0.062939,40.0,0.876952,Householder,F,All_Other,0.0,0.0,Unmarried,0.0,6,Yes,47,Above 18,0.0,NB_US,Pvt,Single,Armed_Forces,NaN

# Dummy variables and Splitting the data

In [80]:
dummydata=pd.get_dummies(df,drop_first=True)

In [81]:
train.shape,test.shape

((105000, 34), (42000, 33))

In [82]:
newtrain=dummydata.iloc[:train.shape[0],:]
newtest=dummydata.iloc[train.shape[0]:,:]

In [83]:
newtrain.shape,newtest.shape

((105000, 81), (42000, 81))

In [84]:
x=newtrain.drop(columns='income')
y=newtrain.income

# Modelling

## Decision Tree

In [1]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dtree=DecisionTreeClassifier()

In [ ]:
d_model=Dtree.fit(x,y)

In [ ]:
y_pred=d_model.predict(newtest)

In [ ]:
submission_dt=pd.DataFrame({'ID':test.ID,'income':y_pred})

In [ ]:
submission_lg.to_csv('dt_sub.csv',index=False)

## Random Forrest

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
rf=RandomForestClassifier()

In [ ]:
rf_model=rf.fit(x,y)

In [ ]:
y_pred=rf_model.predict(newtest)

In [ ]:
submission_rf=pd.DataFrame({'ID':test.ID,'income':y_pred})

In [ ]:
submission_rf.to_csv('rf_sub.csv',index=False)

## Light GBM

In [87]:
# Best model yet
from lightgbm import LGBMClassifier

In [88]:
# best parameters yet
# After a lot of hit and trials these parameters work the best for us
lgbm=LGBMClassifier(num_leaves=31,max_depth=15,learning_rate=0.01,n_estimators=1200)

In [90]:
lg_model=lgbm.fit(x,y)

In [91]:
y_pred=lg_model.predict(newtest)

In [92]:
pd.Series(y_pred).value_counts()

1.0    38564
0.0     3436
dtype: int64

In [93]:
submission_lg=pd.DataFrame({'ID':test.ID,'income':y_pred})

In [94]:
submission_lg.to_csv('lg_sub.csv',index=False)

# Conclusion

* Light gbm worked best for us as a model
* we had to frequncy encode a few features to get better accuracy
* The highest accuracy we got was around 0.678